@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex">
    <aside class="flex-grow-0 p-5 border-end text-nowrap">
        @foreach (var category in Model.Categories)
        {
            <a asp-action="Index" asp-route-category="@category.Id" class="d-block mb-2 side-link">
                @category.Name
            </a>
        }
    </aside>

    <main class="flex-grow-1 p-5">
        <div class="row gap-2 mx-auto">
            @foreach (var product in Model.Products)
            {
                <partial name="_ProductCard" model="@product" />
            }
        </div>
    </main>
</div>
